@model HandyHub.Models.Entities.Client
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "إضافة عميل جديد";
}
@if (ViewBag.errorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.errorMessage
    </div>
}
@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="container py-5">
    <h3 class="fw-bold mb-4 text-primary">إضافة عميل جديد</h3>

    <form asp-action="CreateClient" method="post" class="bg-white p-4 shadow rounded-3">
        <div class="mb-3">
            <label class="form-label">الاسم</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label class="form-label">البريد الإلكتروني</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>


        </div>
        <div class="mb-3">
            <label class="form-label">رقم الهاتف</label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label class="form-label">المدينة</label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">كلمة المرورو</label>
            <input asp-for="PasswordHash" class="form-control" />
            <span asp-validation-for="PasswordHash" class="text-danger"></span>

        </div>
        <button type="submit" class="btn btn-primary">حفظ</button>
        <a asp-action="ManageClients" class="btn btn-secondary">رجوع</a>
    </form>
</div>